@model Nop.Plugin.Baramjk.ContactUs.Areas.Admin.Models.ViewModels.Subjects.SubjectViewModel


@{
    ViewBag.PageTitle = T("Baramjk.ContactUs.Admin.Subjects.EditSubject").Text;
    Html.SetActiveMenuItemSystemName($"{SystemName}.Subjects.List");
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form asp-controller="Subject" asp-action="Edit" method="post" id="items-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Baramjk.ContactUs.Admin.Subjects.EditSubject")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-controller="Subject" asp-action="List">@T("Baramjk.ContactUs.Admin.Subjects.BackToSubjectsList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="item-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @await Html.PartialAsync($"~/Plugins/{SystemName}/Areas/Admin/Views/{ControllerName}/_CreateOrUpdate.cshtml", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="item-delete" />