@model List<Nop.Plugin.Baramjk.Framework.Domain.GatewayPaymentTranslation>
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-header clearfix">
    <h1 class="pull-left">
        Auction
    </h1>
    <div class="pull-right">
        @* <a asp-action="AddAuction" class="btn bg-blue"> *@
        @*     <i class="fa fa-plus-square"></i> *@
        @*     Add *@
        @* </a> *@
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table table-bordered table-hover table-striped dataTable">
                        <tr>
                            <td>
                                Invoice Id
                            </td>
                            <td>
                                Payment Id
                            </td>
                            <td>
                                On CreateDate Time Utc
                            </td>
                            <td>
                                Payment Url
                            </td>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.InvoiceId
                                </td>
                                <td>
                                    @item.PaymentId
                                </td>
                                <td>
                                    @item.OnCreateDateTimeUtc
                                </td>
                                <td>
                                    <a href="@item.PaymentUrl">@item.PaymentUrl</a>
                                </td>
                            </tr>
                        }
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #bid_table tr>*{
        margin: 0px;
        outline: none;
        padding: 5px;
        box-sizing: border-box;
        min-width: 50px;
        border: 1px solid rgb(221, 221, 221) !important;
        color: rgb(92, 91, 91);
        width: 204.812px;
        clear: both;
        font-size: 1.1em;
        font-weight: 700;
    }
</style>